<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/lab-express-basic-site/public/style.css" />
  </head>
  <body>
    <a href="/">Home</a>
    <h1>José Afonso</h1>
    <p>
      José Afonso, also known as Zeca Afonso, was a highly influential
      Portuguese musician, singer, and songwriter. He was born on August 2,
      1929, in Aveiro, Portugal, and he passed away on February 23, 1987, in
      Setúbal, Portugal. Zeca Afonso was a prominent figure in the Portuguese
      music scene, and he played a crucial role in the development of the
      popular music genre known as "Folk Revival" in Portugal.
    </p>

    <p>
      He was a multi-talented artist who combined his passion for music with his
      strong political and social beliefs. Zeca Afonso's music was deeply rooted
      in the traditional folk music of Portugal, and he used it as a means to
      express his opposition to the fascist regime that ruled Portugal under
      António de Oliveira Salazar's Estado Novo regime.
    </p>

    <p>
      During his lifetime, Zeca Afonso composed and performed many powerful and
      politically charged songs that became anthems for the resistance against
      the dictatorship. One of his most famous songs is "Grândola, Vila Morena,"
      which played a significant role during the Carnation Revolution on April
      25, 1974. This peaceful revolution led to the overthrow of the
      dictatorship and the establishment of a democratic government in Portugal.
    </p>

    <p>
      Zeca Afonso's music continues to inspire and influence generations of
      Portuguese artists, and he remains a symbol of artistic and political
      expression in the country. His legacy endures through his songs, which are
      celebrated not only for their musical brilliance but also for their social
      and historical significance in Portugal's recent past.
    </p>
  </body>
</html>
